<!-- <div class="form-container">
  <form [formGroup]="formulario" (ngSubmit)="agregarCajero()">
    <div class="form">

      <div class="flex-box">
        <label>Usuario</label>
        @if(formulario.controls['usuario'].getError('required') &&
        formulario.controls['usuario'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="text" formControlName="usuario" id="nombre" />
      </div>

      <div class="flex-box">
        <label>Contrasena</label>
        @if(formulario.controls['contrasena'].getError('required') &&
        formulario.controls['contrasena'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="password" formControlName="contrasena" id="apellido" />
      </div>

      <div class="flex-box">
        <label>Fecha Creacion</label>
        @if(formulario.controls['fechaCreacion'].getError('required') &&
        formulario.controls['fechaCreacion'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="date" formControlName="fechaCreacion" id="razonSocial" />
      </div>

      <div class="flex-box">
        <label>Estado</label>
        @if(formulario.controls['estado'].getError('required') &&
        formulario.controls['estado'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="text" formControlName="estado" id="razonSocial" />
      </div>


      <div class="botones">
        @if(cajeroAgregado){
        <small class="exito">Cajero agregado</small>
        <button type="button" id="volver" routerLink="/admin/cajeros">
          Volver
        </button>
        } @else {<button type="button" id="cancelar" routerLink="/admin/cajeros">
          Cancelar
        </button>
        }
        <button type="submit" id="agregar">Agregar cajero</button>
      </div>

    </div>
  </form>
</div> -->
