<section class="section-formulario">
    <form [formGroup]="formulario" (ngSubmit)="agregarCajero()" class="formu">
        <label for="usuario">Usuario</label>
        <input type="text" formControlName = "usuario">
        @if(formulario.controls['usuario'].getError('required')&&formulario.controls['usuario'].touched){
            <div class="error">campo requerido</div>
        }
        <label for="contrasena">Contraseña</label>
        <input type="password" formControlName = "contrasena">
        @if(formulario.controls['contrasena'].getError('required')&&formulario.controls['contrasena'].touched){
            <div class="error">campo requerido</div>
        }
        <label for="nroCaja">Numero de caja</label>
        <input type="number" formControlName = "nroCaja">
        @if(formulario.controls['nroCaja'].getError('required')&&formulario.controls['nroCaja'].touched){
            <div class="error">campo requerido</div>
        }
        <button type="submit" class="botoncito">agregar</button>
    </form>
</section>