<header>
  <div class="logo">
    <a id="container" routerLink="/admin">
      <img src="https://cdn-icons-png.flaticon.com/512/679/679821.png" />
      <h1>MartInventario</h1>
    </a>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="/admin/proveedores">PROVEEDORES</a>
      </li>
      <li>
        <a routerLink="/admin/productos">PRODUCTOS</a>
      </li>
      <li>
        <a routerLink="/admin/repositores">REPOSITORES</a>
      </li>
      <li>
        <a routerLink="/admin/cajeros">CAJEROS</a>
      </li>
      <li>
        <a routerLink="/">CERRAR SESION</a>
      </li>
    </ul>
  </nav>
</header>
