.contenedor {
  padding: 2% 1% 1%;
  flex: 1;
  display: flex;
  justify-content: right;
}

.lista {
  display: flex;
  list-style: none;
}

.item {
  margin-left: 30px;
}

.boton {
  background-color: #0088ee;
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.boton:hover {
  background-color: #0099ff;
}

.volver {
  background-color: #aaaaaa;
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.volver:hover {
  background-color: #cccccc;
}