<div>
  <h3>ULTIMOS INGRESOS</h3>
  <table>
    <thead>
      <tr>
        <th class="columna-id">Id</th>
        <th class="columna-fecha">Fecha</th>
        <th class="columna-nombre">Producto</th>
        <th class="columan-cantidad">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      @for (ingreso of listaUltimosIngresos; track $index) {
      <tr>
        <td class="columna-id">{{ingreso.id}}</td>
        <td class="columna-fecha">{{ingreso.fecha}}</td>
        <td class="columna-nombre">{{ingreso.producto}}</td>
        <td class="columan-cantidad">{{ingreso.cantidad}}</td>
      </tr>

      }

    </tbody>
  </table>


</div>
