div {
  padding: 1%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #0099ff;
  color: #ffffff;
}
th,
td {
  padding: 0.75%;
  border: 1px solid #dddddd;
  text-align: left;
}
tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}
tbody tr:hover {
  background-color: #d3e3fc;
}

.columna-id-a {
  width: 5%;
}
.columna-fecha-a {
  width: 10%;
}
.columna-producto-a {
  width: 30%;
}
.columna-cantidad-a {
  width: 5%;
}
.columna-razonSocialProveedor-a {
  width: 30%;
}
.columna-modificar-a {
  width: 10%;
}
.columna-realizado-a {
  width: 10%;
}
.columna-id-r {
  width: 5%;
}
.columna-fecha-r {
  width: 10%;
}
.columna-producto-r {
  width: 30%;
}
.columna-cantidad-r {
  width: 5%;
}
.columna-razonSocialProveedor-r {
  width: 50%;
}
button {
  font-weight: bold;
  padding: 5%;
  background-color: #0088ee;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.realizar {
  background-color: #22aa22;
}
.noRealizar {
  background-color: #ee4444;
}
button:hover {
  background-color: #0099ff;
}
.realizar:hover {
  background-color: #44cc44;
}
.noRealizar:hover {
  background-color: #ee6666;
}
