<div>
  <table>
    <thead>
      <th class="columna-id">Id</th>
      <th class="columna-fecha">Fecha</th>
      <th class="columna-producto">Producto</th>
      <th class="columna-cantidad">Cantidad</th>
      <th class="columna-razonSocialProveedor">Proveedor</th>
      <th class="columna-pedidoRealizado">Hecho</th>
    </thead>
    <tbody>
      @for(pedido of listaPedidos; track $index) {
      <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.fecha }}</td>
        <td>{{ pedido.producto }}</td>
        <td>{{ pedido.cantidad }}</td>
        <td>{{ pedido.razonSocialProveedor }}</td>
        <td>
          @if (pedido.estado) {
          <button class="noRealizar" (click)="pedidoNoRealizado(pedido.id)">
            No realizado</button
          >} @else {
          <button class="realizar" (click)="pedidoRealizado(pedido.id)">
            Realizado
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
