<div>
  <table>
    <thead>
      <th class="columna-id">Id</th>
      <th class="columna-fecha">Fecha</th>
      <th class="columna-producto">Producto</th>
      <th class="columna-cantidad">Cantidad</th>
      <th class="columna-proveedor">Proveedor</th>
      <th class="columna-modificar">Modificar</th>
      <th class="columna-realizado">Realizado</th>
    </thead>
    <tbody>
      @for(pedido of listaPedidos; track $index) {
      <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.fecha }}</td>
        <td>{{ pedido.producto }}</td>
        <td>{{ pedido.cantidad }}</td>
        <td>{{ pedido.proveedor }}</td>
        <td>
          @if (pedido.estado == false ) {
          <button
            class="modificar"
            [routerLink]="['/modificar-pedido', pedido.id]"
            [state]="{user}"
          >
            Modificar
          </button>
          }
        </td>
        <td>
          @if (user.tipo === 'admin') { @if (pedido.estado == false) {
          <button class="realizar-a" (click)="pedidoRealizado(pedido.id)">
            No realizado
          </button>
          } @else {
          <button class="noRealizar-a">Realizado</button>
          }} @else if (user.tipo === 'base') { @if (pedido.estado == false) {
          <button class="realizar-b">No realizado</button>
          } @else {
          <button class="noRealizar-b">Realizado</button>
          }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
