<div>
  <table>
    <thead>
      <tr>
        <th class="columna-id">Id</th>
        <th class="columna-fecha">Fecha</th>
        <th class="columna-producto">Producto</th>
        <th class="columna-cantidad">Cantidad</th>
        <th class="columna-verDetalle">Detalle</th>
        <th class="columna-usuario">Usuario</th>
      </tr>
    </thead>
    <tbody>
      @for (egreso of listaEgresos; track $index) {
      <tr>
        <td>{{ egreso.id }}</td>
        <td>{{ egreso.fecha }}</td>
        <td>{{ egreso.producto }}</td>
        <td>{{ egreso.cantidad }}</td>
        <td>
          <button [routerLink]="['/admin/egreso', egreso.id]">Ver detalle</button>
        </td>
        <td>{{ egreso.usuario }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
