<header>
  <div class="logo">
    <a id="container" routerLink="/repositor">
      <img src="https://cdn-icons-png.flaticon.com/512/679/679821.png" />
      <h1>MartInventario</h1>
    </a>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="/repositor/proveedores">PROVEEDORES</a>
      </li>
      <li>
        <a routerLink="/repositor/productos">PRODUCTOS</a>
      </li>
      <li>
        <a routerLink="/repositor/compras">COMPRAS</a>
      </li>
      <li>
        <a routerLink="/repositor/pedidos">PEDIDOS</a>
      </li>
      <li>
        <a routerLink="/">CERRAR SESION</a>
      </li>
    </ul>
  </nav>
</header>
