<div>
    <button type="button" routerLink="/admin" class="boton-volver" id="volver">Volver</button>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Razón Social</th>
        <th>CUIT</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @for(proveedor of listaProveedores; track $index) {
      <tr>
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.apellido }}</td>
        <td>{{ proveedor.razonSocial }}</td>
        <td>{{ proveedor.cuit }}</td>
        <td>{{ proveedor.email }}</td>
        <td>
          <button class="boton-eliminar" (click)="eliminarProveedor(proveedor.id)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

</div>
