<div>
  <table>
    <thead>
      <tr>
        <th class="columna-nombre-a">Nombre</th>
        <th class="columna-apellido-a">Apellido</th>
        <th class="columna-razonSocial-a">Razón Social</th>
        <th class="columna-cuit-a">CUIT</th>
        <th class="columna-email-a">Email</th>
        <th class="columna-modificar-a">Modificar</th>
        <th class="columna-eliminar-a">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for(proveedor of listaProveedores; track $index) {
      <tr>
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.apellido }}</td>
        <td>{{ proveedor.razonSocial }}</td>
        <td>{{ proveedor.cuit }}</td>
        <td>{{ proveedor.email }}</td>
        <td>
          <button class="modificar" [routerLink]="['/proveedores/modificar', proveedor.id]" [state]="{user}">
            Modificar
          </button>
        </td>
        <td>
          <button class="eliminar" (click)="eliminarProveedor(proveedor.id)">
            Eliminar
          </button>
      </tr>
      }
    </tbody>
  </table>
  <div *ngIf="mensajeExito" class="mensaje-exito">
    {{ mensajeExito }}
  </div>
</div>