

.contenedor-nav{
    display:flex;
    justify-content: center;
    background: linear-gradient( #ff0000, #fe7b7b);
    padding: 5px;
    
}

.navegador{
    background: none;
    
}

.lista-navegador{
list-style: none;
display: flex;
background: none;

}
.item-nav{
    
    margin: 5px;
    background:none;
    padding: 15px;
    border-radius: 50px;
    
}


.item-nav:hover{
   box-shadow: 3px 3px 3px 3px rgb(120, 41, 41);
}
a{
    background:none;
    text-decoration: none;
    color:white;
}