<div>
  <table>
    <thead>
      <th>Id</th>
      <th>Categoria</th>
      <th>Etiquetas</th>
    
    </thead>
    <tbody>
      @for(categoria of listaCategoria; track $index) {
      <tr>
        <td> {{ categoria.id }}</td>
        <td>{{ categoria.nombreCategoria }}</td>
        <td class="tdEtiquetas">
          <table>
            <tbody>
              @for (etiqueta of categoria.etiquetas; track $index) {
              <tr>
                <td class="td-etiqueta"><div class="div-id">ID</div><div>{{ etiqueta.id }}</div></td>
                <td> {{ etiqueta.nombreEtiqueta }}</td>
              </tr>
              }
            </tbody>
          </table>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>