<div>
  <table>
    <thead>
      <th class="columna-id">Id</th>
      <th class="columna-categoria">Categoria</th>
      <th class="columna-etiquetas">
        <table id="tabla-th">
          <th class="columna-etiqueta-id">Id</th>
          <th class="columna-etiqueta-nombre">Etiqueta</th>
        </table>
      </th>
    </thead>
    <tbody>
      @for(categoria of listaCategorias; track $index) {
      <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombreCategoria }}</td>
        <td class="tdEtiquetas">
          <table id="tabla-etiquetas">
            <tbody>
              @for (etiqueta of categoria.etiquetas; track $index) {
              <tr>
                <td class="celda-etiqueta-id">{{ etiqueta.id }}</td>
                <td class="celda-etiqueta-nombre">
                  {{ etiqueta.nombreEtiqueta }}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
