div {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #0099ff;
  color: #ffffff;
}

th,
td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

tbody tr:hover {
  background-color: #d3e3fc;
}

li {
  list-style: none;
}

.columna-id {
  width: 5%;
}

.columna-categoria {
  width: 45%;
}

.columna-etiquetas {
  padding: 0;
}

.tabla-th {
  border: 0;
}

.columna-etiqueta-id {
  width: 10%;
  border: 0;
}

.columna-etiqueta-nombre {
  width: 90%;
  border: 0;
}

.tdEtiquetas {
  padding: 0;
}

.celda-etiqueta-id {
  width: 10%;
}

.celda-etiqueta-nombre {
  width: 90%;
}

.tabla-etiquetas {
  border: 0;
  padding: 0;
  margin: 0;
}
