<div>
  <table>
    <thead>
      <th class="columna-id">Id</th>
      <th class="columna-categoria">Categoria</th>
      <th class="columna-verDetalle">Detalle</th>
      <th class="columna-estado">Estado</th>
    </thead>
    <tbody>
      @for(categoria of listaCategorias; track $index) {
      <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombreCategoria }}</td>
        <td>
          <button [routerLink]="['/admin/categoria', categoria.id]">
            Ver detalle
          </button>
        </td>
        <td>
          @if (categoria.estado) {
          <button
            class="desactivar"
            (click)="desactivarCategoria(categoria.id)"
          >
            Desactivar
          </button>
          } @else {
          <button class="activar" (click)="activarCategoria(categoria.id)">
            Activar
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
