<form [formGroup]="formulario" (ngSubmit)="agregarProducto()">
  <div class="form">
    <div class="flex-box">
      <label>Producto</label>
      @if(formulario.controls['producto'].getError('required') &&
      formulario.controls['producto'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="text" formControlName="producto" />
    </div>

    <div class="flex-box">
      <label>Cantidad</label>
      @if(formulario.controls['cantidad'].getError('required') &&
      formulario.controls['cantidad'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="number" formControlName="cantidad" />
    </div>

    <div class="flex-box">
      <label>Marca</label>
      @if(formulario.controls['marca'].getError('required') &&
      formulario.controls['marca'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="text" formControlName="marca" />
    </div>

    <div class="flex-box">
      <label>Proveedor</label>
      @if(formulario.controls['proveedor'].getError('required') &&
      formulario.controls['proveedor'].touched){
      <small class="error">Campo requerido.</small>
      }
      <select formControlName="proveedor">
        <option value="" disabled selected hidden>
          Selecciona un proveedor
        </option>
        @for (proveedor of listaProveedores; track $index) {
        <option value="{{ proveedor.nombre }}">{{ proveedor.nombre }}</option>
        }
      </select>
    </div>

    <div class="flex-box">
      <label>Precio de compra</label>
      @if(formulario.controls['precioCompra'].getError('required') &&
      formulario.controls['precioCompra'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="number" formControlName="precioCompra" />
    </div>

    <div class="flex-box">
      <label>Precio de venta</label>
      @if(formulario.controls['precioVenta'].getError('required') &&
      formulario.controls['precioVenta'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="number" formControlName="precioVenta" />
    </div>

    <div class="flex-box">
      <label>Categoría</label>
      @if(formulario.controls['categoria'].getError('required') &&
      formulario.controls['categoria'].touched){
      <small class="error">Campo requerido.</small>
      }
      <select id="categoria" formControlName="categoria">
        <option value="" disabled selected hidden>
          Selecciona una categoría
        </option>
        @for (categoria of listaCategorias; track $index) {
        <option value="{{ categoria.nombreCategoria }}">
          {{ categoria.nombreCategoria }}
        </option>
        }
      </select>
    </div>

    <div class="flex-box">
      <label>Etiquetas</label>
      @if(formulario.controls['etiquetas'].getError('required') &&
      formulario.controls['etiquetas'].touched){
      <small class="error">Campo requerido.</small>
      }
      <select formControlName="etiquetas">
        <option value="" disabled selected hidden>
          Selecciona una etiqueta
        </option>
        @for (etiqueta of listaEtiquetas; track $index) {
        <option value="{{ etiqueta.nombreEtiqueta }}">
          {{ etiqueta.nombreEtiqueta }}
        </option>
        }
      </select>
    </div>
  </div>
  <div class="botones">
    @if(productoAgregado){
    <small class="exito">Producto agregado</small>
    @if(tipo === 'admin') {
    <button type="button" id="volver" routerLink="/admin/productos">
      Volver
    </button>
    } @else if (tipo === 'repositor') {
    <button type="button" id="volver" routerLink="/repositor/productos">
      Volver
    </button>
    } } @else { @if(tipo === 'admin') {
    <button type="button" id="cancelar" routerLink="/admin/productos">
      Cancelar
    </button>
    } @else if (tipo === 'repositor') {
    <button type="button" id="cancelar" routerLink="/repositor/productos">
      Cancelar
    </button>
    }
    <button type="submit" id="agregar">Agregar producto</button>}
  </div>
</form>
