<form [formGroup]="formulario" (ngSubmit)="agregarProducto()">
  <div class="columna">
    <label for="">Producto</label>
    <input type="text" formControlName="nombreProducto" />
    @if(formulario.controls['nombreProducto'].getError('required') &&
    formulario.controls['nombreProducto'].touched){
    <div class="error">Campo requerido.</div>
    }
    <label for="">Marca</label>
    <input type="text" formControlName="marca" />
    @if(formulario.controls['marca'].getError('required') &&
    formulario.controls['marca'].touched){
    <div class="error">Campo requerido.</div>
    }
    <label for="">Precio de compra</label>
    <input type="number" formControlName="precioCompra" />
    @if(formulario.controls['precioCompra'].getError('required') &&
    formulario.controls['precioCompra'].touched){
    <div class="error">Campo requerido.</div>
    }
    <label for="">Categoría</label>
    <select size="0" id="categoria" formControlName="categoria">
      <option disabled selected>Selecciona una categoría</option>
      @for (categoria of listaCategorias; track $index) {
      <option value="{{ categoria.nombreCategoria }}">
        {{ categoria.nombreCategoria }}
      </option>
      @if(formulario.controls['categoria'].getError('required') &&
      formulario.controls['categoria'].touched){
      <div class="error">Campo requerido.</div>
      } }
    </select>
  </div>
  <div class="columna">
    <label for="">Cantidad</label>
    <input type="number" formControlName="cantidad" />
    @if(formulario.controls['cantidad'].getError('required') &&
    formulario.controls['cantidad'].touched){
    <div class="error">Campo requerido.</div>
    }
    <label for="">Proveedor</label>
    <select size="0" formControlName="proveedor">
      <option disabled selected>Selecciona un proveedor</option>
      @for (proveedor of listaProveedores; track $index) {
      <option value="{{ proveedor.nombre }}">{{ proveedor.nombre }}</option>
      @if(formulario.controls['proveedor'].getError('required') &&
      formulario.controls['proveedor'].touched){
      <div class="error">Campo requerido.</div>
      } }
    </select>
    <label for="">Precio de venta</label>
    <input type="number" formControlName="precioVenta" />
    @if(formulario.controls['precioVenta'].getError('required') &&
    formulario.controls['precioVenta'].touched){
    <div class="error">Campo requerido.</div>
    }
    <label for="">Etiquetas</label>
    <select size="0" formControlName="etiquetas">
      <option disabled selected>Selecciona una etiqueta</option>
      @for (etiqueta of listaEtiquetas; track $index) {
      <option value="{{ etiqueta.nombreEtiqueta }}">
        {{ etiqueta.nombreEtiqueta }}
      </option>
      @if(formulario.controls['etiquetas'].getError('required') &&
      formulario.controls['etiquetas'].touched){
      <div class="error">Campo requerido.</div>
      } }
    </select>
  </div>
  <div class="boton">
    <button>Agregar producto</button>
  </div>
</form>
