<div>
   <h3>ULTIMO EGRESO</h3>
   <table>
      <thead>
         <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha</th>
         </tr>
      </thead>
      <tbody>
         @for (egreso of listaUltimosEgresos; track $index) {
         <tr>
            <td>{{egreso.id}}</td>
            <td>{{egreso.producto}}</td>
            <td>{{egreso.cantidad}}</td>
            <td>{{egreso.fecha}}</td>
         </tr>
         }
      </tbody>
   </table>
</div>