<div>
  <h3>ULTIMO EGRESO</h3>
  <table>
    <thead>
      <tr>
        <th class="columna-id">Id</th>
        <th class="columna-fecha">Fecha</th>
        <th class="columna-nombre">Producto</th>
        <th class="columna-cantidad">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      @for (egreso of listaUltimosEgresos; track $index) {
      <tr>
        <td class="columna-id">{{egreso.id}}</td>
        <td class="columna-fecha">{{egreso.fecha}}</td>
        <td class="columna-nombre">{{egreso.producto}}</td>
        <td class="columna-cantidad">{{egreso.cantidad}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
