<div class="contenedor">
  <ul class="lista">
    <li class="item">
      <a routerLink="/base/ingresos">INGRESOS</a>
    </li>
    <li class="item">
      <a routerLink="/base/egresos">EGRESOS</a>
    </li>
    <li class="item">
      <a routerLink="/base/pedidos">PEDIDOS</a>
    </li>
  </ul>
</div>

<div class="estadisticas">

  <div class="container">
    <div class="app-estadistica">
      <app-estadisticas-pedidos></app-estadisticas-pedidos>
    </div>

    <div class="app-estadistica">
      <app-estadisticas-ingresos></app-estadisticas-ingresos>
    </div>

    <div class="app-estadistica">
      <app-estadisticas-egresos></app-estadisticas-egresos>
    </div>
  </div>

</div>