<div class="contenedor-filtros">
  <div class="barra-busqueda">
    <div class="input-busqueda">
      <span class="icono-busqueda">🔍</span>
      <input type="text" (input)="onBusquedaChange($event)" placeholder="Buscar por nombre, marca..."
        class="input-texto" />
    </div>
  </div>
</div>

<!--Listado de Productos-->
<div>
  <table>
    <thead>
      @if (user.tipo === 'admin') {
      <th class="columna-id-a">Id</th>
      <th class="columna-producto-a">Producto</th>
      <th class="columna-marca-a">Marca</th>
      <th class="columna-cantidad-a">Cantidad</th>
      <th class="columna-proveedor-a">Proveedor</th>
      <th class="columna-categoria-a">Categoria</th>
      <th class="columna-modificar-a">Modificar</th>
      } @else if (user.tipo === 'base') {
      <th class="columna-id-b">Id</th>
      <th class="columna-producto-b">Producto</th>
      <th class="columna-marca-b">Marca</th>
      <th class="columna-cantidad-b">Cantidad</th>
      <th class="columna-proveedor-b">Proveedor</th>
      <th class="columna-categoria-b">Categoria</th>
      }
    </thead>
    <tbody>
      @if (productosFiltrados.length === 0) {
      <tr>
        @if(user.tipo === 'admin') {
        <td colspan="7" class="sin-resultados">
          No se encontraron productos que coincidan con los filtros
        </td>
        } @else {
        <td colspan="6" class="sin-resultados">
          No se encontraron productos que coincidan con los filtros
        </td>
        }
      </tr>
      }
      @for(producto of productosFiltrados; track $index) {
      <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombreProducto }}</td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.proveedor }}</td>
        <td>{{ producto.categoria }}</td>
        @if(user.tipo === 'admin') {
        <td>
          <button class="modificar" [routerLink]="['/modificar-producto', producto.id]" [state]="{user}">
            Modificar
          </button>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>

  <div class="info-resultados">
    <span>Mostrando {{ productosFiltrados.length }} de {{ listaProductos.length }} productos</span>
  </div>
</div>
