<div>
  <table>
    <thead>
      <tr>
        <th class="columna-id">Id</th>
        <th class="columna-usuario">Usuario</th>
        <th class="columna-contrasena">Contraseña</th>
        <th class="columna-nombre">Nombre</th>
        <th class="columna-apellido">Apellido</th>
        <th class="columna-estado">Estado</th>
      </tr>
    </thead>
    <tbody>
      @for (usuario of listaUsuarios; track $index) {
      <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.contrasena }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>
          @if (usuario.estado) {
          <button class="desactivar" (click)="desactivarCajero(usuario.id)">
            Desactivar
          </button>
          } @else {
          <button class="activar" (click)="activarCajero(usuario.id)">
            Activar
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
