<app-navbar></app-navbar>
<div class="contenedor-volver">
  <button routerLink="/productos" class="boton">VOLVER</button>
</div>
<div class="contenedor-formulario">
   
    <form class="formulario" [formGroup]="formulario" (ngSubmit)="agregarProducto()">
        <h3>Agregar Producto</h3>
        <label for="marca">Marca</label>
        <input class="in-formulario" type="text"#marca formControlName="marca" >
        @if (formulario.controls['marca'].getError('required')&& formulario.controls['marca'].touched){
          <div class="error">
              Campo requerido
          </div>
        }


      <label class="label-Form" for="nombre">Nombre</label>
        <input  class="in-formulario"   type="text" #nombre  formControlName="nombreProducto">
        @if (formulario.controls['nombreProducto'].getError('required')&& formulario.controls['marca'].touched){
          <div class="error">
              Campo requerido
          </div>
        }
        <label class="label-Form"  for="precioCompra">Precio de compra</label>
        <input  class="in-formulario" type="text"#precioCompra  formControlName="precioCompra">
        @if (formulario.controls['precioCompra'].getError('required')&& formulario.controls['marca'].touched){
          <div class="error">
              Campo requerido
          </div>
        }
        <label class="label-Form"  for="precioVenta">Precio de venta</label>
        <input  class="in-formulario" type="text"#precioVenta formControlName="precioVenta">
        @if (formulario.controls['precioVenta'].getError('required')&& formulario.controls['marca'].touched){
          <div class="error">
              Campo requerido
          </div>
        }
        <label  class="label-Form" for="cantidad">Cantidad</label>
        <input class="in-formulario"  type="number" #cantidad formControlName="cantidad">
        @if (formulario.controls['cantidad'].getError('required')&& formulario.controls['marca'].touched){
          <div class="error">
              Campo requerido
          </div>
        } 
     
      <button class="botonAgregar">agregar</button>
    
    </form>
    
</div>

