<div>
  <table>
    <thead>
      <tr>
        @if (tipo === 'admin') {
        <th class="columna-etiqueta-a">Etiqueta</th>
        <th class="columna-modificar-a">Modificar</th>
        <th class="columna-estado-a">Estado</th>
        } @else if (tipo === 'repositor') {
        <th class="columna-etiqueta-r">Etiqueta</th>
        <th class="columna-estado-r">Estado</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (etiqueta of arrEtiquetas; track $index) {
      <tr>
        <td>{{ etiqueta.nombreEtiqueta }}</td>
        @if(tipo === 'admin') {
        <td>
          <button class="modificar" (click)="modificar(etiqueta.id)">
            Modificar
          </button>
        </td>
        }
        <td>
          @if(etiqueta.estado) {
          <button class="desactivar" (click)="desactivarEtiqueta(etiqueta.id)">
            Desactivar
          </button>
          } @else {
          <button class="activar" (click)="activarEtiqueta(etiqueta.id)">
            Activar
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
