<div>
  <table>
    <thead>
      <tr>
        <th class="columna-etiqueta">Etiqueta</th>
        <th class="columna-modificar">Modificar</th>
        <th class="columna-estado">Estado</th>
      </tr>
    </thead>
    <tbody>
      @for (etiqueta of arrEtiquetas; track $index) {
      <tr>
        <td>{{ etiqueta.nombreEtiqueta }}</td>
        <td>
          <button class="modificar" [routerLink]="['/modificar-etiqueta', etiqueta.id]" [state]="{user}">Modificar
          </button>
        </td>
        <td>
          @if(etiqueta.estado) {
          <button class="desactivar" (click)="desactivarEtiqueta(etiqueta.id)">Desactivar</button>
          } @else {
          <button class="activar" (click)="activarEtiqueta(etiqueta.id)">Activar</button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>