/* .contenedor-nav {
    display:flex;
    justify-content: right;
    background-color: #fbcb5b;
}
.lista-navegador {
    list-style: none;
    display: flex;
}
.item-nav {
    border-radius: 50px;
}
.item-nav:hover {
    box-shadow: 3px 3px 3px 3px rgb(120, 41, 41);
}
a {
    text-decoration: none;
    color:white;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fbcb5b;
}
a {
    text-decoration: none;
}
#container {
    display: flex;
    align-items: center;
    padding: 1%;
}
img {
    width: 50px;
    height: auto;
    margin-right: 5%;
}
h1 {
    display: inline-block;
    color: #222222;
}
.navbar {
    flex: 1;
    display: flex;
    justify-content: right;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.navbar ul li a:hover {
    background-color: #ddd;
}