<div>
  <table>
    <thead>
      <tr>
        <th class="columna-id">ID</th>
        <th class="columna-usuario">Usuario</th>
        <th class="columna-constraseña">Contraseña</th>
        <th class="columna-nombre">Nombre</th>
        <th class="columna-apellido">Apellido</th>
        <th class="columna-estado">Estado</th>
      </tr>
    </thead>
    <tbody>
      @for(usuario of listaUsuarios; track $index) {
      <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.contrasena }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>
          @if (usuario.tipo === 'base') {
          @if (usuario.estado) {
          <button class="desactivar" (click)="desactivarUsuario(usuario.id)">
            Desactivar
          </button>
          } @else {
          <button class="activar" (click)="activarUsusario(usuario.id)">
            Activar
          </button>
          } }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
