<form [formGroup]="formulario" (ngSubmit)="realizarEgreso()">
  <label>Producto: </label>
  @if (formulario.controls['producto'].getError('required') &&
  formulario.controls['producto'].touched) {
  <small class="error">Campo requerido</small>
  }
  <select id="producto" formControlName="producto">
    <option value="" disabled selected hidden>Selecciona un producto</option>
    @for (producto of listaProductos; track $index) {
    <option value="{{ producto.nombreProducto }}">
      {{ producto.nombreProducto }}
    </option>
    }
  </select>
  <label>Cantidad</label>
  @if (formulario.controls['cantidad'].getError('required') &&
  formulario.controls['cantidad'].touched) {
  <small class="error">Campo requerido</small>
  } @else if (formulario.controls['cantidad'].getError('min') &&
  formulario.controls['cantidad'].touched) {
  <small class="error">Mínimo requerido</small>
  } @else if (formulario.controls['cantidad'].getError('max') &&
  formulario.controls['cantidad'].touched) {
  <small class="error">Stock insuficiente</small>
  }
  <input type="number" formControlName="cantidad" />

  <div class="botones">
    @if(egresoRealizado){
    <small class="exito">Egreso realizado</small>
    <button type="button" id="volver" routerLink="/admin/egresos">Volver</button>
    } @else { @if (tipo === 'admin') {
    <button type="button" id="cancelar" routerLink="/admin/egresos">
      Cancelar
    </button>
    } @else if (tipo === 'base') {
    <button type="button" id="cancelar" routerLink="/base/egresos">
      Cancelar
    </button>
    }
    <button type="submit" id="agregar">Realizar</button>

    }
  </div>
</form>