<div class="contenedor">
  <ul class="lista">
    @if (tipo === 'admin') {
    <li>
      <a class="volver" routerLink="/admin/productos">VOLVER</a>
    </li>
    <li class="item">
      <a routerLink="/admin/categorias/agregar">AGREGAR CATEGORIA</a>
    </li>
    <li class="item">
      <a routerLink="/admin/etiquetas/agregar">AGREGAR ETIQUETA</a>
    </li>
    } @else if (tipo === 'repositor') {
    <li>
      <a class="volver" routerLink="/repositor/productos">VOLVER</a>
    </li>
    <li class="item">
      <a routerLink="/repositor/categorias/agregar">AGREGAR CATEGORIA</a>
    </li>
    <li class="item">
      <a routerLink="/repositor/etiquetas/agregar">AGREGAR ETIQUETA</a>
    </li>
    }
  </ul>
</div>
