<div class="contenedor">
  <ul class="lista">
    @if (tipo === 'admin') {
    <li class="item">
      <a class="boton" routerLink="/admin/categorias/agregar">AGREGAR CATEGORIA</a>
    </li>
    <li class="item">
      <a class="boton" routerLink="/admin/etiquetas/agregar">AGREGAR ETIQUETA</a>
    </li>
    <li class="item">
      <a class="volver" routerLink="/admin/productos">VOLVER</a>
    </li>
    } @else if (tipo === 'base') {
    <li class="item">
      <a class="boton" routerLink="/base/categorias/agregar">AGREGAR CATEGORIA</a>
    </li>
    <li class="item">
      <a class="boton" routerLink="/base/etiquetas/agregar">AGREGAR ETIQUETA</a>
    </li>
    <li class="item">
      <a class="volver" routerLink="/base/productos">VOLVER</a>
    </li>
    }
  </ul>
</div>