<app-navbar-vista-admin></app-navbar-vista-admin>
<div class="contenedor-boton">
    <button routerLink="/"  class="boton">VOLVER</button>
</div>
<div class="contenedor">
    <div class="funcionalidades">
        <h1 class="encabezado">Productos</h1>
        <h2 class="h2prod">Elija la operacion que desea realizar</h2>
        <button routerLink="/agregarProducto" class="boton">AGREGAR PRODUCTO</button>
        <button routerLink="/modificarProducto"  class="boton">MODIFICAR PRODUCTO</button>
        <button routerLink="/eliminarProducto"  class="boton">ELIMINAR PRODUCTO</button>
 
    </div>
</div>
