<div class="div-boton-volver">
  <button class="boton-volver" routerLink="/admin/categorias">Volver</button>
</div>

<table>
  <!-- <label for="">{{cat.nombreCategoria}}</label> -->
  <thead>
    <tr>
      <th class="columna-etiqueta-id">Id</th>
      <th class="columna-etiquetas">Etiqueta</th>
      <th class="columna-estado">Estado</th>
    </tr>
  </thead>

  <tbody>
    @for (etiqueta of arrEtiquetas; track $index) {
    <tr>
      <td>{{etiqueta.id}}</td>
      <td>{{etiqueta.nombreEtiqueta}}</td>
      <td>
        @if(etiqueta.estado) {
        <button id="boton" (click)="desactivarEtiqueta(etiqueta.id)">Desactivar</button>
        } @else {
        <button id="boton" (click)="activarEtiqueta(etiqueta.id)">Activar</button>
        }
      </td>
    </tr>
    }

  </tbody>

</table>
