<div class="contenedor">
  <ul class="lista">
    @if (tipo === 'admin') {
    <li class="item">
      <a class="agregar" routerLink="/admin/realizar-egreso">REALIZAR EGRESO</a>
    </li>
    <li class="item">
      <a class="volver" routerLink="/admin/secciones">VOLVER</a>
    </li>
    } @else if (tipo === 'base') {
    <li class="item">
      <a class="agregar" routerLink="/base/realizar-egreso">REALIZAR EGRESO</a>
    </li>
    <li class="item">
      <a class="volver" routerLink="/base/secciones">VOLVER</a>
    </li>
    }
  </ul>
</div>
