
.div-boton-volver{
    all: unset;
    display: flex;
    justify-content: end;
    margin: 2rem;
   
  }
  
  .botoncito-volver{
      padding: 0.5rem;
      border: 1px solid #222222;
      border-radius: 3px;
      background-color: #0099ff;
      display:flex;
      justify-content: center;
      align-items: center;
      transition: 0,2;
      cursor: pointer;
      transition: background-color 2s ease, transform 2s ease;
      color: black;
    }
    
    .botoncito-volver:hover{
     
      box-shadow: 3px 3px 3px 3px rgb(121, 121, 121);
     }