<form [formGroup]="formulario" (ngSubmit)="modificarCategoria()">
  <div class="form">
    <div class="flex-box">
      <label>Categoria</label>
      @if(formulario.controls['nombreCategoria'].getError('required') &&
      formulario.controls['nombreCategoria'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="text" formControlName="nombreCategoria" />
    </div>
  </div>

  <div class="botones">
    @if(categoriaModificada){
    <small class="exito">Categoria modificada</small>
    <button type="button" id="volver" routerLink="/categorias" [state]="{user}">
      Volver
    </button>
    } @else {
    <button
      type="button"
      id="cancelar"
      routerLink="/categorias"
      [state]="{user}"
    >
      Cancelar
    </button>
    <button type="submit" id="agregar">Modificar categoria</button>}
  </div>
</form>
