<div>
  <h2>Cambiar Estado de Categoría</h2>

  <form [formGroup]="formulario" (ngSubmit)="cambiarEstadoCategoria()">

    <label for="categoria">Selecciona una categoría para desactivar</label>

    <select id="categoria" formControlName="categoriaId">
      <option value="" disabled selected>Seleccione una categoría</option>

      @for (item of listaCategorias; track $index) {
      <option [value]="item.id">
        {{ item.nombreCategoria }}
      </option>
      }
    </select>


    <div class="botones">
      @if (cm) {
      <small class="exito">Categoria desactivada</small>
      <button type="button" id="volver" routerLink="/admin/categorias">
        Volver
      </button>

      }
      <button type="submit" [disabled]="!formulario.valid">Desactivar Categoría</button>
    </div>

  </form>
</div>