<form [formGroup]="formulario" (ngSubmit)="agregarCategoria()">
  <div class="form">
    <div class="flex-box">
      <label>Categoria</label>
      @if(formulario.controls['nombreCategoria'].getError('required') &&
      formulario.controls['nombreCategoria'].touched){
      <small class="error">Campo Requerido.</small>
      }
      <input type="text" formControlName="nombreCategoria" />
    </div>
  </div>

  <div class="botones">
    @if(categoriaRepetida) {
    <small class="repetido">Categoria Repetida</small>
    } @if(categoriaAgregada) {
    <small class="exito">Categoria Agregada</small>
    <button type="button" id="volver" routerLink="/categorias" [state]="{user}"> Volver </button>
    } @else {
    <button type="button" id="cancelar" routerLink="/categorias" [state]="{user}"> Cancelar </button>
    <button type="submit" id="agregar"> Agregar Categoria </button>}
  </div>
</form>
