* {
  box-sizing: border-box;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

form {
  margin-top: 1%;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

h2 {
  margin-bottom: 1%;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.boton {
  width: 100%;
}

label {
  display: block;
  margin: 0.5% 0;
}

input, select {
  width: 100%;
  margin: 0.5% 0 1.5%;
  padding: 1%;
  background-color: #eeeeee;
  border: 1px solid #999999;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 1.5% 2%;
  border: 1px solid #222222;
  border-radius: 3px;
  background-color: #0099ff;
  color: #ffffff;
}

.error {
  background-color: #ffffff;
  color: #ee0000;
  font-size: x-small;
}
