<div class="form-container">
  <form [formGroup]="formulario" (ngSubmit)="agregarProveedor()">
    <div class="form">
      <div class="flex-box">
        <label>Nombre</label>
        @if(formulario.controls['nombre'].getError('required') &&
        formulario.controls['nombre'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="text" formControlName="nombre" id="nombre" />
      </div>

      <div class="flex-box">
        <label>Apellido</label>
        @if(formulario.controls['apellido'].getError('required') &&
        formulario.controls['apellido'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="text" formControlName="apellido" id="apellido" />
      </div>

      <div class="flex-box">
        <label>Razón Social</label>
        @if(formulario.controls['razonSocial'].getError('required') &&
        formulario.controls['razonSocial'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="text" formControlName="razonSocial" id="razonSocial" />
      </div>

      <div class="flex-box">
        <label for="cuit">CUIT</label>
        @if(formulario.controls['cuit'].getError('required') &&
        formulario.controls['cuit'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="text" formControlName="cuit" id="cuit" />
      </div>

      <div class="flex-box">
        <label>Email</label>
        @if(formulario.controls['email'].getError('required') &&
        formulario.controls['email'].touched){
        <small class="error">Campo requerido.</small>
        }
        <input type="text" formControlName="email" id="email" />
      </div>
    </div>
    <div class="botones">
      @if(proveedorAgregado){
      <small class="exito">Proveedor agregado</small>
      @if(tipo === 'admin') {
      <button type="button" id="volver" routerLink="/admin/proveedores">
        Volver
      </button>
      } @else if(tipo === 'repositor') {
      <button type="button" id="volver" routerLink="/repositor/proveedores">
        Volver
      </button>
      } } @else { @if(tipo === 'admin') {
      <button type="button" id="cancelar" routerLink="/admin/proveedores">
        Cancelar
      </button>
      } @else if(tipo==='repositor') {
      <button type="button" id="cancelar" routerLink="/repositor/proveedores">
        Cancelar
      </button>
      }
      <button type="submit" id="agregar">Agregar proveedor</button>}
    </div>
  </form>
</div>
