<!-- <div *ngIf="pedidoSeleccionado">
  <h3>Modificar cantidad para: {{ pedidoSeleccionado.producto }}</h3>

  <form (ngSubmit)="modificarCantidad()">
    <label for="cantidad">Cantidad:</label>
    <input type="number" name="cantidad" (ngModel)="nuevaCantidad" required min="1"
      placeholder="Ingresar nueva cantidad" />

    <button type="submit">Actualizar</button>
  </form>
</div>
 -->

<form [formGroup]="formulario" (ngSubmit)="update()">
  <div class="form">
    <div class="flex-box">
      <label for="">Pedido</label>
      @if (formulario.controls['cantidad'].getError('required') && formulario.controls['cantidad'].touched) {
      <small class="error">Campo requerido.</small>
      }
      <input type="text" formControlName="cantidad" />
    </div>
  </div>

  <div class="botones">
    @if(pedidoModificado){
    <small class="exito">Pedido modificado</small>
    <button type="button" id="volver" routerLink="/pedidos" [state]="{user}"> Volver </button>
    } @else {
    <button type="button" id="cancelar" routerLink="/pedidos" [state]="{user}"> Cancelar </button>
    <button type="submit" id="agregar"> Modificar pedido </button>}
  </div>
</form>