<div>
  <table>
    <thead>
      <tr>
        <th class="columna-id">Fecha:</th>
        <th class="columna-fecha">Fecha:</th>
        <th class="columna-producto">Producto:</th>
        <th class="columna-cantidad">Cantidad:</th>
        <th class="columna-total">Motivo:</th>
        <th class="columna-verDetalle">Detalle</th>
      </tr>
    </thead>
    <tbody>
      @for (venta of listaVentas; track $index) {
      <tr>
        <td>{{ venta.id }}</td>
        <td>{{ venta.fecha }}</td>
        <td>{{ venta.producto }}</td>
        <td>{{ venta.cantidad }}</td>
        <td>{{ venta.motivo }}</td>
        <td>
          <button [routerLink]="['/admin/venta', venta.id]">Ver detalle</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
