<div class="contenedor">
  <ul class="lista">
    @if (user.tipo === 'admin') {
    <li class="item">
      <a class="boton" routerLink="/empleados" [state]="{user}">EMPLEADOS</a>
    </li>
    }
    <li class="item">
      <a class="boton" routerLink="/ingresos" [state]="{user}">INGRESOS</a>
    </li>
    <li class="item">
      <a class="boton" routerLink="/egresos" [state]="{user}">EGRESOS</a>
    </li>
    <li class="item">
      <a class="boton" routerLink="/pedidos" [state]="{user}">PEDIDOS</a>
    </li>
  </ul>
</div>
