<form [formGroup]="formulario" (ngSubmit)="agregarEntrada()">
  <label>Producto</label>
  @if (formulario.controls['producto'].getError('required') &&
  formulario.controls['producto'].touched) {
  <small class="error">Campo requerido</small>
  }
  <select id="producto" formControlName="producto">
    <option value="" disabled selected hidden>Selecciona un producto</option>
    @for (producto of listaProductos; track $index) {
    <option value="{{ producto.nombreProducto }}">
      {{ producto.nombreProducto }}
    </option>
    }
  </select>

  <label>Cantidad</label>
  @if (formulario.controls['cantidad'].getError('required') &&
  formulario.controls['cantidad'].touched) {
  <small class="error">Campo requerido</small>
  } @else if (formulario.controls['cantidad'].getError('min') &&
  formulario.controls['cantidad'].touched) {
  <small class="error">Mínimo requerido</small>
  }
  <input type="number" formControlName="cantidad" />

  <label>Precio unitario</label>
  @if (formulario.controls['precioUnitario'].getError('required') &&
  formulario.controls['precioUnitario'].touched) {
  <small class="error">Campo requerido</small>
  } @else if (formulario.controls['precioUnitario'].getError('min') &&
  formulario.controls['precioUnitario'].touched) {
  <small class="error">Mínimo requerido</small>
  }
  <input type="number" formControlName="precioUnitario" />

  <div class="botones">
    @if(entradaAgregada){
    <small class="exito">Compra agregada</small>
    @if (tipo === 'admin') {
    <button type="button" id="volver" routerLink="/admin/compras">
      Volver
    </button>
    } @else if (tipo === 'repositor') {
    <button type="button" id="volver" routerLink="/repositor/compras">
      Volver
    </button>
    } } @else { @if (tipo === 'admin') {
    <button type="button" id="cancelar" routerLink="/admin/compras">
      Cancelar
    </button>
    } @else if (tipo === 'repositor') {
    <button type="button" id="cancelar" routerLink="/repositor/compras">
      Cancelar
    </button>
    }
    <button type="submit" id="agregar">Agregar</button>}
  </div>
</form>
