<div>
   <h3>ULTIMOS INGRESOS</h3>
   <table>

      <thead>

         <tr>

            <th>Id</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha</th>
         </tr>
      </thead>
      <tbody>
         @for (ingreso of listaUltimosIngresos; track $index) {
         <tr>
            <td>{{ingreso.id}}</td>
            <td>{{ingreso.producto}}</td>
            <td>{{ingreso.cantidad}}</td>
            <td>{{ingreso.fecha}}</td>
         </tr>

         }

      </tbody>
   </table>


</div>