<header>
  <div class="logo">
    <a id="container" routerLink="/admin">
      <img src="https://cdn-icons-png.flaticon.com/512/679/679821.png" />
      <h1>MartInventario</h1>
    </a>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a href="#" routerLink="/admin/categorias/agregar">AGREGAR CATEGORIA</a>
      </li>
      <li>
        <a href="#" routerLink="">ELIMINAR CATEGORIA</a>
      </li>
      <li>
        <a href="#" routerLink="">AGREGAR ETIQUETA</a>
      </li>
      <li>
        <a href="#" routerLink="">ELIMINAR ETIQUETA</a>
      </li>
    </ul>
  </nav>
</header>
