
<div>
  <h3>EMPLEADOS</h3>
        <table>
          
          
            <tr>
              <th>tipo</th>
              <th>cantidad</th>
            
            </tr>
            <tbody>
            
               <tr>
                <td>admin</td>
                  <td>{{cantAdmin}}</td>
                 
               </tr>
               <tr>
                <td>base</td>
                <td>{{cantEmpleados}}</td>
               </tr>
     
             
           
        </tbody>
         
         
     </table>
</div>
      
      