<!-- <form [formGroup]="formulario" (ngSubmit)="agregarEtiqueta()">
  <label>Categoría</label>
  <select name="" id="">
    <option disabled selected>Selecciona una categoría</option>
    @for (categoria of listaCategorias; track $index) {
    <option value="nombreCategoria">
      {{ categoria.nombreCategoria }}
    </option>
    }
  </select>
  <label>Nombre</label>
  <input type="text" formControlName="nombreEtiqueta" />
  @if (formulario.controls['nombreEtiqueta'].getError('required') &&
  formulario.controls['nombreEtiqueta'].touched) {
  <small>Campo requerido</small>
  }
  <button>Agregar Etiqueta</button>
</form> -->
