<form [formGroup]="formulario" (ngSubmit)="agregarEtiqueta()">
  <div class="form">
    <div class="flex-box">
      <label>Etiqueta</label>
      @if(formulario.controls['nombreEtiqueta'].getError('required') &&
      formulario.controls['nombreEtiqueta'].touched){
      <small class="error">Campo Requerido</small>
      }
      <input type="text" formControlName="nombreEtiqueta" />
    </div>

    <!-- <div class="flex-box">
      <label>Categoría</label>
      @if(formulario.controls['nombreCategoria'].getError('required') &&
      formulario.controls['nombreCategoria'].touched){
      <small class="error">Campo requerido</small>
      }
      <select id="categoria" formControlName="nombreCategoria">
        <option value="" disabled selected>Selecciona una categoría</option>
        @for (categoria of listaCategorias; track $index) { @if
        (categoria.estado) {
        <option value="{{ categoria.nombreCategoria }}">
          {{ categoria.nombreCategoria }}
        </option>
        } }
      </select>
    </div> -->
  </div>
  <div class="botones">
    @if(etiquetaRepetida) {
    <small class="repetido">Etiqueta Repetida</small>
    } @if(etiquetaAgregada) {
    <small class="exito">Etiqueta Agregada</small>
    <button type="button" id="volver" routerLink="/categoria/:cat" [state]="{user}">
      Volver
    </button>
    } @else {
    <button type="button" id="cancelar" [routerLink]="['/categoria', categoria.nombreCategoria]"
      [state]="{categoria, user}">
      Cancelar
    </button>
    <button type="submit" id="agregar">Agregar Etiqueta</button> }
  </div>
</form>
