<form [formGroup]="formulario" (ngSubmit)="agregarPedido()">
  <div class="form">
    <div class="flex-box">
      <label>Producto</label>
      @if(formulario.controls['producto'].getError('required') &&
      formulario.controls['producto'].touched){
      <small class="error">Campo Requerido.</small>
      }
      <select id="producto" formControlName="producto">
        <option value="" disabled selected hidden>
          Selecciona un Producto
        </option>
        @for (producto of listaProductos; track $index) {
        <option value="{{ producto.nombreProducto }}">
          {{ producto.nombreProducto }}
        </option>
        }
      </select>
    </div>

    <div class="flex-box">
      <label>Cantidad</label>
      @if(formulario.controls['cantidad'].getError('required') &&
      formulario.controls['cantidad'].touched){
      <small class="error">Campo Requerido.</small>
      } @if(formulario.get('cantidad')?.hasError('min') &&
      formulario.controls['cantidad'].touched){
      <small class="error">Cantidad debe ser mayor a 0.</small>
      }
      <input type="number" formControlName="cantidad" />
    </div>

    <div class="flex-box">
      <label>Proveedor</label>
      @if(formulario.controls['proveedor'].getError('required') &&
      formulario.controls['proveedor'].touched){
      <small class="error">Campo Requerido.</small>
      }
      <select formControlName="proveedor">
        <option value="" disabled selected hidden>
          Selecciona un Proveedor
        </option>
        @for (proveedor of listaProveedores; track $index) {
        <option value="{{ proveedor.nombre }}">{{ proveedor.nombre }}</option>
        }
      </select>
    </div>
  </div>

  <div class="botones">
    @if(pedidoAgregado) {
    <small class="exito">Pedido Agregado</small>
    <button type="button" id="volver" routerLink="/pedidos" [state]="{user}">
      Volver
    </button>
    } @else {
    <button type="button" id="cancelar" routerLink="/pedidos" [state]="{user}">
      Cancelar
    </button>
    <button type="submit" id="agregar">Agregar Pedido</button>}
  </div>
</form>
