
  <div class="menu">
    <ul class="lista">
      <li class="item">
        <a routerLink="/admin/empleados">EMPLEADOS</a>
      </li>
      <li class="item">
        <a routerLink="/admin/ingresos">INGRESOS</a>
      </li>
      <li class="item">
        <a routerLink="/admin/egresos">EGRESOS</a>
      </li>
      <li class="item">
        <a routerLink="/admin/pedidos">PEDIDOS</a>
      </li>
    </ul>
  
</div>

 <div class="estadisticas">
    
  
  <div class="container">
    <app-estadisticas-empleados></app-estadisticas-empleados>
    
    <app-estadisticas-ingresos></app-estadisticas-ingresos>
  
    <app-estadisticas-egresos></app-estadisticas-egresos>

  
    <app-estadisticas-pedidos></app-estadisticas-pedidos>
  </div>

 
 
</div>
    

