<form [formGroup]="formulario" (ngSubmit)="modificarEtiqueta()">
  <div class="form">
    <div class="flex-box">
      <label>Etiqueta</label>
      @if(formulario.controls['nombreEtiqueta'].getError('required') &&
      formulario.controls['nombreEtiqueta'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="text" formControlName="nombreEtiqueta" />
    </div>
  </div>

  <div class="botones">
    @if(etiquetaModificada){
    <small class="exito">Etiqueta Modificada</small>
    <button
      type="button"
      id="volver"
      routerLink="/categoria/:cat"
      [state]="{categoria,user}"
    >
      Volver
    </button>
    } @else {
    <button
      type="button"
      id="cancelar"
      [routerLink]="['/categoria', categoria.nombreCategoria]"
      [state]="{categoria, user}"
    >
      Cancelar
    </button>
    <button type="submit" id="modificar">Modificar Etiqueta</button>}
  </div>
</form>
