<form [formGroup]="formulario" (ngSubmit)="actualizarEtiqueta()">
  <div class="form">
    <div class="flex-box">
      <label>Etiqueta</label>
      @if(formulario.controls['nombreEtiqueta'].getError('required') &&
      formulario.controls['nombreEtiqueta'].touched){
      <small class="error">Campo requerido.</small>
      }
      <input type="text" formControlName="nombreEtiqueta" />
    </div>
  </div>

  <div class="botones">
    @if(etiquetaModificada){
    <small class="exito">Etiqueta modificada</small>
    <button type="button" id="volver" (click)="volver()">Volver</button>
    } @else{
    <button type="button" id="cancelar" (click)="volver()">Cancelar</button>
    <button type="submit" id="agregar">Modificar etiqueta</button> }
  </div>
</form>
