.contenedor {
  padding: 5% 15%;
  width: 70%;
}
.tarjeta {
  display: inline-block;
  margin-bottom: 5%;
  padding: 5% 0;
  width: 100%;
  background-color: #fbcb5b;
  border-radius: 10px;
  justify-items: center;
  justify-content: center;
}
label {
  display: block;
  margin-top: 2%;
  background-color: transparent;
  font-size: large;
}
.dato {
  background-color: transparent;
  font-size: x-large;
}
